[submodule "euamoia_front"]
	path = euamoia_front
	url = git@github.com:gaqno/euamoia_front.git
	branch = main

[submodule "euamoia_back"]
	path = euamoia_back
	url = git@github.com:gaqno/euamoia_back.git
	branch = main
